/* место для вашего кода */

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 100px 50px
}

.header_menu {
    display: flex;
    width: 391.4px;
}

.header_links-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 26px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;

}

.header_logo {
    display: block;
    background: url(/images/logo-black.svg) no-repeat cover/center;;
    width: 148px;
    height: 105px;

}

.adress {
    margin: 0px;
    padding: 0px;
    width: 240px;
    height: 98px;
    justify-self: end;
    display: flex;
}

.header_adress {
    list-style: none;
    display: felx;
    flex-direction: column;
    align-items: flex-start;
    white-space: wrap;;
    text-align: left;
}






.cover {
    min-height: 757px;
    padding: 165px 50px 50px 50px;
    position: relative;
    background-image:url(/images/cover.jpg);
    background: url(/images/cover.jpg) no-repeat cover/ center;
    background-size: cover;
    margin-bottom: 180px;

}

.cover__title {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    min-width: 1000px;
    min-height: 385px;
    margin-bottom: 106px;
}

.aligned-text {
    display: flex;
    font-family: Raleway, sans-serif;
    font-weight: 700px;
    text-transform: uppercase;
    font-size: 100px;
    line-height: 115px;
    color: white;
}

.aligned-text_left {
    align-self: flex-start;
    text-align: left;
}

.aligned-text_center {
    align-self: center;
    align-self: center;
}

.aligned-text_right {
    align-self: flex-end;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: 0em;
}


.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.cover__description-text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: white;
}


.bet-button {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
    padding: 12px 32px;
    border: 1px solid white;
    cursor: pointer;
    background: transparent;
    color: white;
    text-transform: uppercase;
}

















.main {
    padding: 
}

.header_links-list-items_no-bullit {
    list-style: none;
}

.header_link {
    text-decoration: underline;
}

.header_links-list-items {
    list-style: circle;
}

.header_logo-link {
    display: block;
}





.lots {
    position: relative;
    padding: 74px 0px 53px 0px;
    min-width: 1052px;
}

.lots__heading {
    position: absolute;
    left: 40px;
    top: 0px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.lots__card-list-item {
    min-width: 334px;
    min-height: 596px;
    display: block;
}

.card-link {
    display: block;
}

.card {
    position: relative;
    z-index: 0;
    
}
.card_type_film, .card_type_book, .card_type_picture {
    position: absolute;
    width: 100%;
    min-height: 596px;
    object-fit: cover;
    object-position: center bottom;
    z-index: -1;

    
    
}

.card__title {
    position: absolute;
    left: 40px;
    top: 48px;
    right: 40px;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    color: white;
    z-index: 1;
}

.card__text {
    position: absolute;
    left: 40px;
    bottom: 48px;
    right: 40px; 
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    left: 40px;
    color: white;
    z-index: 1;
    
}

.lots__look-more-link {
    position: absolute;
    left: 40px;
    bottom: 0px;
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 20px;
    text-decoration: underline;
    color: black;
}